.tableContainer {
  margin-right: 16px;
  width: 30%;
}

.tableContainer thead {
  font-size: 12px;
}

.btnContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.table th {
  height: 60px;
}
