.trigger {
  margin-top: 16px;
}

.logo {
  height: 60px;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}

.menuItem {
  height: 60px;
}

.layoutContent {
  padding-top: 16px;
  padding-left: 16px;
}
