.container {
  margin-bottom: 24px;
}

.form {
  display: flex;
}

div.input {
  margin-right: 16px;
}

.inputContainer {
  line-height: 32px;
  display: flex;
}

.results {
  display: flex;
  flex-direction: column;
}
